name: Publish executables
on:
  release:
    types:
      - created
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build and publish executables
        uses: kapetacom/cli-build-action@v1
        with:
          target: dist/binary/*
          token: ${{ secrets.GITHUB_TOKEN }}
          action: build:binary
